***
**Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?**
***

`MongoDB` is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

`Non-relational databases` or `NoSQL databases` are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.

`So we should use mongodb over sql` where we have Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems.

`Summary` is that mongodb is a type of nosql database which support json like storage and it store data in the form of document and we should use it when we have lesser server cost and open source data etc.

***
**Q2. State and Explain the features of MongoDB.**
***

**MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).**

* It is a schema-less NoSQL database. You need not to design the schema of the database when you are working with MongoDB.
* It does not support join operation.
* It provides great flexibility to the fields in the documents.
* It contains heterogeneous data.
* It provides high performance, availability, scalability.
* It supports Geospatial efficiently.
* It is a document oriented database and the data is stored in BSON documents.
* It also supports multiple document ACID transition(string from MongoDB 4.0).
* It does not require any SQL injection.
* It is easily integrated with Big Data Hadoop

***
**Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.**
***

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Mayank:pass01@cluster0.eaewj4b.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [7]:
client

MongoClient(host=['ac-32rygxu-shard-00-02.eaewj4b.mongodb.net:27017', 'ac-32rygxu-shard-00-00.eaewj4b.mongodb.net:27017', 'ac-32rygxu-shard-00-01.eaewj4b.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2cbf5w-shard-0', tls=True)

In [8]:
db = client['mayank']

In [9]:
coll_create = db['my_records']

In [10]:
data = {"name" : "mayank" , "standard" : "pursuing bsc" , "timing" : "regular"}

In [11]:
coll_create.insert_one(data)

***
**Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.**
***

In [12]:
data1 = {"student_names" : ["mayank" , "aman" , "anshu"], "courses" : ["bsc" , "bca" , "btech"]}

In [13]:
coll_create.insert_one(data1)

In [14]:
data2 ={"our_mentors" : ["krish" , "sudhanshu"], "course" : ["data science" , "web dev"]},{"institute_names" : ["pw skills" , "ineuron"], "caterigies" : ["tech" , "non-tech"]}

In [15]:
coll_create.insert_many(data2)

In [16]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8b82f09e01d83e7eefbbb'), 'name': 'mayank', 'standard': 'pursuing bsc', 'timing': 'regular'}
{'_id': ObjectId('63f8b97309e01d83e7eefbbc'), 'student_names': ['mayank', 'aman', 'anshu'], 'courses': ['bsc', 'bca', 'btech']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbd'), 'our_mentors': ['krish', 'sudhanshu'], 'course': ['data science', 'web dev']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbe'), 'institute_names': ['pw skills', 'ineuron'], 'caterigies': ['tech', 'non-tech']}

In [24]:
coll_create.find_one()

{'_id': ObjectId('63f8b82f09e01d83e7eefbbb'),
 'name': 'mayank',
 'standard': 'pursuing bsc',
 'timing': 'regular'}

***
**Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.**
***

In [26]:
for i in coll_create.find({"name" : "mayank"}):
    print(i)

{'_id': ObjectId('63f8b82f09e01d83e7eefbbb'), 'name': 'mayank', 'standard': 'pursuing bsc', 'timing': 'regular'}

In [32]:
for i in coll_create.update_many({"name" : "mayank"},{'$set' : {"name" : "sachin"}}):
    print(i)

TypeError: 'UpdateResult' object is not iterable

`it is showing this error becouse the above object is no iterable`

In [ ]:
coll_create.update_many({"name" : "mayank"},{'$set' : {"name" : "sachin"}})

In [34]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8b82f09e01d83e7eefbbb'), 'name': 'sachin', 'standard': 'pursuing bsc', 'timing': 'regular'}
{'_id': ObjectId('63f8b97309e01d83e7eefbbc'), 'student_names': ['mayank', 'aman', 'anshu'], 'courses': ['bsc', 'bca', 'btech']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbd'), 'our_mentors': ['krish', 'sudhanshu'], 'course': ['data science', 'web dev']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbe'), 'institute_names': ['pw skills', 'ineuron'], 'caterigies': ['tech', 'non-tech']}

***
**Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.**
***

**The sort() method specifies the order in which the query returns the matching documents from the given collection.**

In [83]:
#Example

coll_create.find.sort({"name":1})

AttributeError: 'function' object has no attribute 'sort'

`it showing this because i did have that much data in my document`

***
**Q7. Explain why delete_one(), delete_many(), and drop() is used.**
***

In [71]:
coll_create.delete_one(data)

In [72]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8b82f09e01d83e7eefbbb'), 'name': 'sachin', 'standard': 'pursuing bsc', 'timing': 'regular'}
{'_id': ObjectId('63f8b97309e01d83e7eefbbc'), 'student_names': ['mayank', 'aman', 'anshu'], 'courses': ['bsc', 'bca', 'btech']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbd'), 'our_mentors': ['krish', 'sudhanshu'], 'course': ['data science', 'web dev']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbe'), 'institute_names': ['pw skills', 'ineuron'], 'caterigies': ['tech', 'non-tech']}
{'_id': ObjectId('63f8c59509e01d83e7eefbbf'), 'name': ['sachin', 'sourav']}

In [73]:
coll_create.delete_many({"name": "sachin"})

In [76]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8b97309e01d83e7eefbbc'), 'student_names': ['mayank', 'aman', 'anshu'], 'courses': ['bsc', 'bca', 'btech']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbd'), 'our_mentors': ['krish', 'sudhanshu'], 'course': ['data science', 'web dev']}
{'_id': ObjectId('63f8baef09e01d83e7eefbbe'), 'institute_names': ['pw skills', 'ineuron'], 'caterigies': ['tech', 'non-tech']}

In [84]:
coll_create.drop()

In [86]:
for i in coll_create.find():
    print(i)